.form {
  display: grid;
  gap: 1rem;
}
.input-entry {
  display: grid;
  gap: 0.5rem;
}
.input-entry > input {
  padding: 0.5rem 2rem;
  border: none;
  outline: 1px solid var(--outline);
  background-color: var(--surface-high);
  color: var(--text);
  border-radius: var(--rounded-card);
  font-size: 2rem;
}
.input-entry > input:focus {
  outline: 2px solid var(--primary);
}
